<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.ie.iems5722.a2_1155161159">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/cuhk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cuhk"
        android:supportsRtl="true"
        android:theme="@style/Theme.IEChatRoom.NoActionBar">
        <activity
            android:name="hk.edu.cuhk.ie.iems5722.a2_1155161159.ChatActivity"
            android:exported="true"
            android:parentActivityName="hk.edu.cuhk.ie.iems5722.a2_1155161159.MainActivity"/>

        <activity
            android:name="hk.edu.cuhk.ie.iems5722.a2_1155161159.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>